@use '../../../../../styles/vars';

.showcase {
	margin: 0rem .25rem 1rem .25rem;
	// margin-bottom: 1rem;
	&__pic {
		position: relative;
		aspect-ratio: 1;
		background-color: vars.$color_secondary;
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		border-radius: .5rem;
		box-shadow: vars.$boxShadow_Light;
		
		&-img{
			height: 95%;
			border-radius: .5rem;
			// width: 100%;
			object-fit: cover;
		}

		&-input {
			display: none;
		}
		&-add-icon {
			position: absolute;
			font-size: 32px;
			left: calc(50% - 10px);
			top: calc(50% - 10px);
			
		}
		&-trash-icon {
			position: absolute;
			bottom: 0;
			right: 0;
		}
		& ion-icon {
			zoom: 0.8;
			color: vars.$color_callToAction;
		}
		
	}
}